#div1{
    display: flex;
    background-color:black;
    justify-content:space-between;
    height: 12vh;
}
body{
    background-image: url(back.png);
    background-position: center;
    background-size: cover;
}
#div3 ul{
    list-style: none;
    display: flex;    
}
body{
    margin: 0px;
    padding: 0px;

}
#div3 a{
    text-decoration: none;
    color:#fcdab7;

    margin-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}
#divs3{
    display: flex;
}
#div2{
    display: flex;
    justify-content:space-between;
}
#div2 h1{
    color:#f29b22;
    font-size:5vh;
    margin-left: -10px;
    /* align-content: center; */
    font-family: 'Limelight', cursive;
}
#div2 img{
    width:20%;
    /* margin-right: -10px; */
    margin-left: 14px;
    margin-right: -20px;
}
#div4{
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.div41{
    /* border: 2px solid black; */
    align-items: center;
    text-align: center;
    /* margin-top: 20px; */

}
#div411{
    grid-column: span 2;
    text-align: left;
}
#div411 h1{
    font-size: 60px;
    text-align: left;
}
#div411 a{
    /* border: 2px solid; */
    background-color: white;
    text-decoration:none;
    text-align: left;
    padding: 0.8rem;
    border-radius: 10px 10px 10px;
    font-variant: small-caps;
    /* margin-top: 1050px; */
}
#div5{
    background-color: white;
    /* display: flex; */
    height: 7vh;
    text-align: center;
}
#div6{
    display: flex;
    height: 80vh;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content:space-between;
    background-color: white;
}
.div61{
    margin-left: 30px;
    margin-right: 30px;
}
.div61 h6{
    font-weight: lighter;
}
#heads{
    font-size: 70px;
    text-align: center;
}
#div7{
    background-color: white;
    text-align: center;
    height: 41vh;
}
#heads1{
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#herfs{
    text-decoration: none;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 15px 15px 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;   
}
#div8{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 50vh;
    background-color: white;
}
#div821{
    grid-row: span 4;
}

#div81{
    display: flex;
}
#div81 h1{
    margin-left: 10px;
}
#div81 img{
    width: 3%;
    margin-left: 24px;
    margin-right: 30px; 
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
.div000{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 40vh;

}
#div011{
    margin-top: -170px;
    align-items: right;
    /* margin-right: -200px; */
    display: flex;
    /* justify-content: baseline; */
}